* {
  margin: 0;
  padding: 0;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background-color: #1f2937;
}
.section-1 {
  padding: 0px 15%;
  background-color: #1f2937;
  font-size: 18px;
  color: #e5e7eb;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
#logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bolder;
}
.section-1 .nav {
  display: flex;
  list-style: none;
  gap: 25px;
}
a {
  text-decoration: none;
  color: #e5e7eb;
}
.section-1 header {
  display: flex;
  justify-content: space-between;
  margin: 5vh 0;
  gap: 15px;
}
.header-left {
  width: 500px;
  height: auto;
}
.header-left h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
}
button {
  padding: 10px 20px;
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
}
.section-1 button {
  margin-top: 20px;
}
#placeholder-image {
  width: 500px;
  height: auto;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* END OF SECTION 1 */
.section-2 {
  padding: 0px 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f9faf8;
  gap: 50px;
}
.info-header {
  margin-top: 50px;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
}
.four-squares {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
  padding-bottom: 100px;
}
.textNsquare {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.square {
  border: 3px solid #3882f6;
  border-radius: 10px;
  width: 170px;
  height: 170px;
}
.p-square {
  display: block;
  max-width: 170px;
  text-align: center;
}
/* END OF SECTION 2 */
.section-3 {
  padding: 100px 20%;
  background-color: #e5e7eb;
  font-size: 36px;
  font-family: light italic;
  font-style: italic;
  color: #1f2937;
}
.quote {
  display: flex;
  flex-direction: column;
}
.author {
  font-weight: bolder;
  font-style: normal;
  font-size: 24px;
  align-self: flex-end;
}
/* END OF SECTION 3 */
.section-4 {
  padding: 100px 15%;
  background-color: #f9faf8;
}
.call-to-action {
  background-color: #3882f6;
  padding: 40px 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #f9faf8;
}
.section-4 p {
  justify-self: left;
  align-self: flex-end;
}
